<%- include('partials/navbar.ejs') %>
  <h1 class="titleOne" id="activityTitle">About Me!</h1>
  <div class="grid text-center" id="activitySection">
  <img class="g-col-12 threeRows" src="https://i.imgur.com/8oweUPp.jpg" alt="my image">
  </div>
<%- include('partials/footer.ejs') %>

