<%- include('partials/navbar.ejs') %>
    <h1 class="titleOne" id="activityTitle">My <%= title %></h1>
  <div id="aboveTheFold">

    <div class="allContainer">
      <!-- Start 14-->
      <a href="/certificate/GoogleSysAdmin" >
          <div class="portf">
            <img src="https://i.imgur.com/TNJy68h.jpg" class="portfImg">
          </div>
        </a>
      <!-- Start 13-->
      <a href="/certificate/GoogleTechnical" >
          <div class="portf">
            <img src="https://i.imgur.com/mmTT2eJ.jpg" class="portfImg">
          </div>
        </a>
        <!-- Start 12-->
        <a href="/certificate/CEH" >
          <div class="portf">
            <img src="https://i.imgur.com/uv9Zv88.jpg" class="portfImg">
            </div>
        </a>
        <!-- Start 11-->
        <a href="/certificate/WebDevelopment" >
          <div class="portf">
            <img src="https://i.imgur.com/fHz5Y5Q.jpg" class="portfImg">
          </div>
        </a>
        <!-- Start 10-->
        <a href="/certificate/JavaIntermediate" >
          <div class="portf">
            <img src="https://i.imgur.com/kLGSA7m.jpg" class="portfImg">
          </div>
        </a>
        <!-- Start 9-->
        <a href="/certificate/IntroductionToSQL" >
          <div class="portf">
            <img src="https://i.imgur.com/M8AY9hS.jpg" class="portfImg">
            </div>
        </a>
        <!-- Start 8-->
        <a href="/certificate/IntroductionToJavaScript" >
          <div class="portf">
            <img src="https://i.imgur.com/GtSR1LR.jpg" class="portfImg">
          </div>
        </a>
        <!-- Start 7-->
      <a href="/certificate/IntroductionToCss" >
          <div class="portf">
            <img src="https://i.imgur.com/EvhOh6S.jpg" class="portfImg">
          </div>
        </a>
        <!-- Start 6-->
        <a href="/certificate/IntroductionToHtml" >
          <div class="portf">
            <img src="https://i.imgur.com/L3sykMm.jpg" class="portfImg">
          </div>
        </a>
        <!-- Start 5-->
        <a href="/certificate/transport" >
          <div class="portf">
            <img src="https://i.imgur.com/zTw7DsR.jpg" class="portfImg">
          </div>
        </a>
        <!-- Start 4-->
        <a href="/certificate/Injaz" >
          <div class="portf">
            <img src="https://i.imgur.com/zSUWp9i.jpg" class="portfImg">
          </div>
        </a>
        <!-- Start 3-->
        <a href="/certificate/IntroductionToPython" >
          <div class="portf">
            <img src="https://i.imgur.com/U1q9FnT.jpg" class="portfImg">
          </div>
        </a>
        <!-- Start 2-->
        <a href="/certificate/IntroductionToJava" >
          <div class="portf">
            <img src="https://i.imgur.com/Zmql7ED.jpg" class="portfImg">
          </div>
        </a>
        <!-- Start 1-->
        <a href="/certificate/EmployabilitySkills" >
          <div class="portf">
            <img src="https://i.imgur.com/Mn7CQdP.jpg" class="portfImg">
          </div>
        </a>
    </div>
    </div>
  <%- include('partials/footer.ejs') %>

