<%- include('partials/navbar.ejs') %>
  <div class="titleOne" id="activityTitle">
  <div class="grid text-center" id="activitySection">
  <img class="g-col-12 threeRows" src="https://i.imgur.com/Mn7CQdP.jpg" alt="my image">
</div>
<h3>Employability Skills</h3>
<h3>Date: 20-9-2021</h3>
  </div>
<%- include('partials/footer.ejs') %>

