<%- include('partials/navbar.ejs') %>
  <div class="titleOne" id="activityTitle">
  <div class="grid text-center" id="activitySection">
  <img class="g-col-12 threeRows" src="https://i.imgur.com/TNJy68h.jpg" alt="my image">
</div>
<h3>Google System Adminstrator</h3>
<h3>Date: 18-9-2023</h3>
  </div>
<%- include('partials/footer.ejs') %>

