<%- include('partials/navbar.ejs') %>
  <h1 class="titleOne" id="activityTitle">Welcome to <%= title %>!</h1>
  <div class="grid text-center" id="activitySection">
  <img class="g-col-12 threeRows" src="https://i.imgur.com/8oweUPp.jpg" alt="my image">
  </div>

  <div class="grid text-center" id="activitySection">
    <div class="g-col-12 threeRows">
      <div class="header-center">
        <h3>my latest work</h3>
      </div>
      <div class="allContainer">
      <!-- for each to display only the selected city from the drag drop -->
        <div class="portf">
        <a href="#" >
          <div class="portfChild">
            <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
            <h2 class="h2Portf">
              Mahmood
            </h2>
            <h3 class="h3Portf">
              33454395
            </h3>
          </div>
        </a>
      </div>
<div class="portf">
        <a href="#" >
          <div class="portfChild">
            <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
            <h2 class="h2Portf">
              Mahmood
            </h2>
            <h3 class="h3Portf">
              33454395
            </h3>
          </div>
        </a>
      </div>
      <div class="portf">
        <a href="#" >
          <div class="portfChild">
            <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
            <h2 class="h2Portf">
              Mahmood
            </h2>
            <h3 class="h3Portf">
              33454395
            </h3>
          </div>
        </a>
      </div>
      </div>
    </div>
  </div>

  <div class="grid text-center" id="activitySection">
    <div class="g-col-12 threeRows">
      <h1>Download My Resume</h1>
      <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
      <lord-icon src="https://cdn.lordicon.com/frjgvxce.json" trigger="loop" delay="3000" colors="primary:black"
        state="intro">
      </lord-icon>
      <h4 class="paragraphStyle">Access my professional resume to learn more about my qualifications and experience.</h4>
      <a href="/downloadResume">
        <button type="button" class="btn btn-primary">Download Resume</button>
      </a>
    </div>
  </div>
<%- include('partials/footer.ejs') %>

