<%- include('partials/navbar.ejs') %>
  <h1 class="titleOne" id="activityTitle">Welcome to <%= title %>!</h1>
  <div id="aboveTheFold">
    <div class="allContainer">
      <!-- for each to display only the selected city from the drag drop -->
      <div class="portf">
        <a href="#" >
          <div class="portfChild">
            <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
            <h2 class="h2Portf">
              Mahmood
            </h2>
            <h3 class="h3Portf">
              33454395
            </h3>
          </div>
        </a>
      </div>
<div class="portf">
  <a href="#" >
    <div class="portfChild">
      <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
      <h2 class="h2Portf">
        Mahmood
      </h2>
      <h3 class="h3Portf">
        33454395
      </h3>
    </div>
  </a>
</div>
<div class="portf">
  <a href="#" >
    <div class="portfChild">
      <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
      <h2 class="h2Portf">
        Mahmood
      </h2>
      <h3 class="h3Portf">
        33454395
      </h3>
    </div>
  </a>
</div>
<div class="portf">
  <a href="#" >
    <div class="portfChild">
      <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
      <h2 class="h2Portf">
        Mahmood
      </h2>
      <h3 class="h3Portf">
        33454395
            </h3>
          </div>
        </a>
      </div>
      <div class="portf">
        <a href="#" >
          <div class="portfChild">
            <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
            <h2 class="h2Portf">
              Mahmood
            </h2>
            <h3 class="h3Portf">
              33454395
            </h3>
          </div>
        </a>
      </div>
      <div class="portf">
        <a href="#" >
          <div class="portfChild">
            <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
            <h2 class="h2Portf">
              Mahmood
            </h2>
            <h3 class="h3Portf">
              33454395
            </h3>
          </div>
        </a>
      </div>
      <div class="portf">
        <a href="#" >
          <div class="portfChild">
            <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
            <h2 class="h2Portf">
              Mahmood
            </h2>
            <h3 class="h3Portf">
              33454395
            </h3>
          </div>
        </a>
      </div>
      <div class="portf">
        <a href="#" >
          <div class="portfChild">
            <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
            <h2 class="h2Portf">
              Mahmood
            </h2>
            <h3 class="h3Portf">
              33454395
            </h3>
          </div>
        </a>
      </div>
      <div class="portf">
        <a href="#" >
          <div class="portfChild">
            <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
            <h2 class="h2Portf">
              Mahmood
            </h2>
            <h3 class="h3Portf">
              33454395
            </h3>
          </div>
        </a>
      </div>
      <div class="portf">
        <a href="#" >
          <div class="portfChild">
            <img src="https://i.imgur.com/8oweUPp.jpg" class="portfImg">
            <h2 class="h2Portf">
              Mahmood
            </h2>
            <h3 class="h3Portf">
              33454395
            </h3>
          </div>
        </a>
      </div>
    </div>
  </div>
    <%- include('partials/footer.ejs') %>
    
    