@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*   Start navigation bar  used*/
nav {
  height: 80px;
  background-color: black !important;
  border-radius: 15px;
}

.logo {
  padding: 10px;
  width: auto;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 140px;
}
.logo img {
  height: 60px;
  margin-left: 30px;
}
.list-item {
  float: left;
  margin-right: 25px;
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  width: 87%;
}
.list-item li {
  float: left;
  padding: 13px 13px;
  font-size: 25px;
  border-radius: 3px;
  transition: all 0.7s ease-in-out;
  text-align: left;
}
.list-item li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.list-item li a:hover {
  color: purple !important;
}

.icon {
  display: none;
}
.toggle {
  float: right;
  margin: 20px;
  color: white;
  font-size: 30px;
  border: 1px solid black;
  padding: 0px 5px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 1309px) {
  nav {
    height: 100%;
  }
  .icon {
    display: block;
    width: 100%;
    height: 80px;
    background-color: black !important;
    border-radius: 15px;
  }
  .logo {
    height: 80px;
  }
  .logo a {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .list-item {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -4px;
    background-color: black;
    display: none;
    border-radius: 15px;
  }
  .list-item li {
    text-align: center;
    display: block;
    float: none;
    padding: 20px;
  }
  .list-item li:last-of-type {
    position: relative;
  }

  html body {
    margin: 0;
    padding: 0;
  }
  .list-item li:last-of-type {
    float: none;
  }
  .list-item li a {
    float: none !important;
  }
}

html body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  margin: 15px;
}

body {
  color: black;
  font-family: "Signika", sans-serif;
}

ul#header {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
  background-color: black !important;
  border-radius: 15px;
}

li.navBar {
  float: left;
}

li.navBar a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

li.navBar a:hover:not(.active) {
  color: white;
}

/* Footer CSS */
.footerContainer {
  padding: 50px 0px;
  background-color: black !important;
  color: white;
}

a.sitemap {
  display: block;
  color: black;
  text-decoration: none;
}

.threeRows h1 {
  font-size: 30px;
}

.threeRows {
  background-color: #fafafafa;
  padding: 3%;
  margin: 0 auto;
  border-radius: 20px;
  text-align: left;
  width: 80%;
}

.grid .g-col-4.footerChild {
  margin: auto;
}

.grid .g-col-4.footerChild a {
  color: white;
  transition: color 0.3s ease-in-out;
}

.grid .g-col-4.footerChild a:hover {
  color: purple;
}

.titleOne {
  font-size: 50px;
  text-align: center;
  margin-top: 5%;
}
/* tell here used */
#city {
  width: 20%;
  height: 40px;
  border: 1px solid #ffa500;
  border-radius: 5px;
  text-align: center;
  margin: 2% auto;
  display: block;
  font-family: "Signika", sans-serif;
  font-size: 20px;
}
@media only screen and (max-width: 767px) {
  #city {
    width: 300px;
  }
}
@media only screen and (max-width: 575px) {
  #city {
    width: 200px;
  }
}

#aboveTheFold {
  margin: 0 10px;
  margin-bottom: 5%;
}

img.portfImg {
  width: 100%;
  border-radius: 13px 13px 0px 0px;
  /* border-radius: 13px ; */
  max-height: 60%;
  min-height: 60%;
  height: 300px;
  object-fit: cover;
}
.portfChild {
  text-align: center;
  border: 1px solid #ffa500;
  border-radius: 14px;
  height: 100%;
}
.portfChild h3 {
  font-weight: 100;
  text-align: center;
}
/* used */
#activityTitle {
  margin-bottom: 5%;
}
#activitySection {
  margin-bottom: 7%;
}
.portfChild {
  text-align: center;
  border: 1px solid black;
  border-radius: 14px;
  height: 100%;
}

img.portfChild {
  width: 100%;
  border-radius: 15px;
  max-height: 60%;
  min-height: 60%;
  height: 60%;
  object-fit: cover;
}
img.contact {
  float: right;
  width: 50%;
  border-radius: 15px;
  max-height: 60%;
  min-height: 60%;
  height: 60%;
  object-fit: cover;
}
/* end */

.portfChild h2 {
  margin-top: revert;
  font-weight: 500;
  font-size: 25px;
  max-height: max-content;
  text-align: center;
  color: black;
  text-decoration: none;
}

.portfChild h3 {
  font-weight: 100;
  font-size: 25px;
  text-align: center;
  color: black;
}
/* buttons used */
.btn-primary {
  background-color: black;
  border: 1px solid black !important;
  color: white !important;

  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #db8f01;
  /* --bs-btn-active-border: 1px solid orange; */
  --bs-btn-active-border-color: 1px solid #db8f01;
}
.btn-primary:hover {
  background-color: gray;
  border: 1px solid black;
}
/* end used */

#aboutFelha {
  background-color: #ffa500;
  padding: 80px;
  margin: 0 1%;
  border-radius: 25px;
  margin-bottom: 2%;
}

.gridGap {
  margin: 6% 0px;
}

.storyText {
  text-align: justify;
  font-size: 20px;
}

h2.storyText {
  font-size: 40px;
}

.storyAbout {
  margin: auto 3%;
}

.membersContainer {
  padding: 4%;
  background-color: #fff8ee;
  margin-bottom: 5%;
}

.members {
  text-align: center;
}

.quote {
  background-color: #ffa500;
  color: black;
  margin: 0 1%;
  border-radius: 15px;
  padding: 2%;
}

.quote h3 {
  text-align: center;
  font-style: italic;
  margin-bottom: 4%;
}

.bi {
  margin: 0px 5px;
}

.btn-secondary {
  background-color: #fff8ee;
  border: #e9e2d9 1px solid;
  color: black;
  text-decoration: none;
  width: max-content;
}

.btn-secondary:hover {
  background-color: #ffa500;
  border: #e9e2d9 1px solid;
  color: black;
  text-decoration: none;
  width: max-content;
}

.classfications ul {
  list-style-type: none;
}

.classfications ul a {
  text-decoration: none;
  color: black;
}

.classfications {
  text-align: center;
  margin: 0 0 4% 0;
}

.classfications ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.classfications li {
  display: inline-block;
  margin: 0.5% 0.3%;
}

main .container .categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .container .categories .title {
  margin: 15px 0;
}

main .container .categories .classfications ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 30px 0;
}
main .container .categories .classfications ul li {
  padding: 3px 10px;
}
main .container .categories .classfications ul li:not(:first-of-type) {
  position: relative;
}

.container .categories .classfications ul li a {
  color: color;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.container .categories .classfications ul li a.selected {
  color: grey;
}
.container .categories .classfications ul li:hover a {
  color: black;
}
.container .events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 3%;
}
.container .events .event {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  overflow: hidden;
  border-radius: 20px;
  /* -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
.container .events .event::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.3) ; */
}
.container .events .event .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
.container .events .event .content .stars {
  color: #aeadad;
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.container .events .event .content .stars .rated {
  color: gold;
}
.container .events .event .content a {
  color: white;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 20px;
}
.container .events .event .content .time {
  color: white;
  position: relative;
  margin-bottom: 30px;
}

#suggestionForm {
  margin: 0 15%;
}

.eventTitle {
  color: white;
  text-decoration: none;
  display: relative;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  background-repeat: no-repeat;
  height: 400px;
}

.eventTitle.eventStyle {
  color: white;
  text-decoration: none;
  display: relative;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  background-repeat: no-repeat;
  height: 300px;
}

.eapps-instagram-feed-posts-view {
  justify-content: center !important;
}
/* used */
.paragraphStyle {
  font-size: 20px;
  font-weight: 100;
}
/* tell here */
#instaTitle {
  margin-bottom: 6%;
}
@media only screen and (max-width: 767px) {
  .details .head-info {
    flex-direction: column;
    gap: 30px;
  }
}
#eventTitleDetail {
  margin-bottom: 3%;
}

.signInHolder {
  display: flex;
  justify-content: center;
}

.eapps-instagram-feed-posts-view {
  gap: 3%;
}
/* used */
.allContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 3%;
}
lord-icon {
  width: 150px;
  height: 150px;
  float: right;
  margin-top: -3%;
}
@media only screen and (max-width: 575px) {
  lord-icon {
    float: none;
    margin: 0 auto;
    display: block;
  }
  lord-icon ~ a {
    display: block;
    text-align: center;
  }
}
@media (max-width: 600px) {
  body {
    text-align: center;
  }

  .gridGap {
    display: block;
    width: 100%;
  }
}
/* new */

.header-center h3 {
  background: #fafafa;
  /* position: absolute; */
  top: -0.8rem;
  left: 50%;
  /* margin-left: -160px; */
  width: 320px;
  text-align: center;
  display: block;
  color: #757575;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  padding: 0 !important;
  font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial,
    Sans-serif;
}
